.verse-container {
    border-bottom: 5px solid #F2F2F2;
    padding: 20px 0;
}
.translation-text {
    width: 95%;
    font-size: 32px;
    margin-top: 30px;
}
.wbw-order-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items:center;
}
.wbw-container {
    padding-right: 40px;
    width: 95%;
    display:flex;
    flex-direction:row-reverse; 
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px){
    .translation-text {
        width: 100%;
        font-size: 15px;
    }
    .wbw-container {
        width: 100%;
        padding-right: 5px;
    }    
    .wbw-order-container {
        align-items:flex-start;
    }
}