.word-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 35px;
}
.arabic-word {
    font-family: 'Uthmanic_Regular';
    font-size: 42px;
}
.simple-word {
    color: #6D6C6C;
    font-size: 14px;
}

@media only screen and (max-width: 768px){
    .arabic-word {
        font-size: 28px;
    }
    .simple-word {
        font-size: 11px;
    } 
    .word-container {
        margin-left: 13px;
    }   
}